<app-header></app-header>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">

            <label for="">Name : </label>
            <input [(ngModel)]="addData.name" class="form-control w-25" type="text" placeholder="Enter the Name"><br>

            <label for="">Status : </label>
            <input [(ngModel)]="addData.status" class="form-control w-25" type="text" placeholder="Enter the Status"><br>

            <label for="">Department : </label>
            <input [(ngModel)]="addData.department" class="form-control w-25" type="text" placeholder="Enter the Department"><br>

            <label for="">Mobile No. : </label>
            <input [(ngModel)]="addData.mobileno" class="form-control w-25" type="tel" placeholder="Enter the Mobile Number"><br>

            <label for="">Email ID : </label>
            <input [(ngModel)]="addData.emailid" class="form-control w-25" type="email" placeholder="Enter the Email ID"><br>

            <label for="">Salary : </label>
            <input [(ngModel)]="addData.salary" class="form-control w-25" type="number" placeholder="Enter the Salary"><br>

            <label for="">Country : </label>
            <select [(ngModel)]="addData.country" class="form-control w-25" name="" id="">
                <option [ngValue]="item" *ngFor="let item of allCountry"> {{item.cname}} </option>
            </select><br>

            <button (click)="onSubmit()" class="btn btn-success">Submit</button>

        </div>
    </div>
</div>